@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@layer base {
    html {
        @apply overflow-hidden m-0 /* text-[0.6rem] sm:text-[0.6rem] md:text-[0.8rem] lg:text-[1rem] xl:text-[1rem] 2xl:text-[1rem] */ scroll-auto;
    }
}

.prose p {
    margin: 0;
}

.radio-ping:checked::after {
    content: '';
    position: absolute;
    top: 12%;
    left: 12%;
    width: 75%;
    height: 75%;
    border-radius: 9999px;
    @apply animate-ping bg-success
}

.icon-visible .icon-v {
    @apply opacity-0 transition-all
}

.icon-visible:hover .icon-v {
    @apply opacity-100
}

.title {
    @apply font-['Poiret_One'] text-6xl text-center hover:animate-pulse transition-all
}

.title-big {
    @apply font-['Poiret_One'] text-8xl text-center hover:animate-pulse transition-all
}

.title-small {
    @apply font-['Poiret_One'] text-3xl text-center hover:animate-pulse transition-all
}

.title-p {
    @apply font-['Poiret_One'] text-2xl
}

.title-p-small {
    @apply font-['Poiret_One'] text-xl
}

.main-div {
    @apply flex flex-col h-screen bg-base-300
}

.scroll-content-div {
    @apply m-5 overflow-y-auto shadow-2xl shadow-neutral-950 border-b-3 border-t-3 border-info-content rounded-xl
}

.scroll-content-div-corner {
    @apply m-5 overflow-y-auto shadow-2xl shadow-neutral-950 border-l-3 border-t-3 border-info-content rounded-xl
}

.table-scale {
    @apply font-[roboto] w-full h-full border-separate border-spacing-y-2 p-5 pt-0
}
.td-scale {
    @apply text-sm text-left p-4 whitespace-nowrap;
    @apply border-t-2 border-t-transparent border-b-2 border-b-transparent;
}
.th-scale {
    @apply sticky text-lg top-0 bg-info-content text-left p-2 whitespace-nowrap z-10 min-w-[15rem];
    @apply border-2 border-transparent hover:bg-accent-content hover:border-accent transition-all;
}
.tr-scale {
    @apply bg-base-100 hover:border-2 border-accent hover:bg-accent-content transition-all duration-100 ease-in-out;
}

/* Alternate Colors */
.tr-scale:nth-child(even) {
    @apply bg-base-200 hover:bg-accent-content
}
.th-scale:nth-child(even) {
    @apply bg-[#002641] hover:bg-accent-content
}

/* Rounded Rows */
.td-scale:first-child {
    @apply border-t-2 border-t-transparent border-l-2 border-l-transparent pl-10;
    @apply rounded-tl-xl rounded-bl-xl;
}
.td-scale:last-child {
    @apply border-b-2 border-b-transparent border-r-2 border-r-transparent;
    @apply rounded-tr-xl rounded-br-xl;
}

/* Row Hover Border */
.tr-scale:hover .td-scale:first-child {
    @apply border-t-2 border-t-accent border-l-2 border-l-accent;
}
.tr-scale:hover .td-scale:last-child {
    @apply border-b-2 border-b-accent border-r-2 border-r-accent;
}
.tr-scale:hover .td-scale {
    @apply border-t-2 border-t-accent border-b-2 border-b-accent
}

/* Rounded Header-Row */
.th-scale:first-child {
    @apply rounded-tl-xl rounded-bl-xl pl-10;
}
.th-scale:last-child {
    @apply rounded-tr-xl rounded-br-xl;
}