@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@layer base {
    html {
        @apply overflow-hidden m-0 /* text-[0.6rem] sm:text-[0.6rem] md:text-[0.8rem] lg:text-[1rem] xl:text-[1rem] 2xl:text-[1rem] */ scroll-auto;
    }
}

.wave-body {
    background-image: linear-gradient(
        50deg,
        var(--color-base-300),
        var(--color-accent-content),
        var(--color-info-content),
        var(--color-base-300)
    );
    background-size: 400% 400%;
    background-position: 0% 0%;
    animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    25% {
        background-position: 25%;
    }
    50% {
        background-position: 100%;
    }
    75% {
        background-position: 80%;
    }
    100% {
        background-position: 0%;
    }
}

@keyframes wave {
    0% {
      transform: translateX(-5%);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-45%);
    }
    75% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(-5%);
    }
}

.wave {
    @apply fixed w-[200%] h-[18em] animate-[wave_8s_-3s_ease-in-out_infinite]
        rounded-[1000%_1000%_0_0] left-0 bottom-0 bg-base-300/25;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    @apply bottom-[-2.25em] animate-[wave_12s_ease-in-out_reverse_infinite];
}

.wave:nth-of-type(3) {
    @apply bottom-[-4.5em] animate-[wave_16s_-1s_reverse_infinite];
}
  
/* .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 18em;
    animation: wave 8s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.wave:nth-of-type(2) {
    bottom: -2.25em;
    animation: wave 12s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -4.5em;
    animation: wave 16s -1s reverse infinite;
    opacity: 0.9;
} */

.prose p {
    margin: 0;
}

.radio-ping:checked::after {
    content: '';
    position: absolute;
    top: 12%;
    left: 12%;
    width: 75%;
    height: 75%;
    border-radius: 9999px;
    @apply animate-ping bg-success
}

.icon-visible .icon-v {
    @apply opacity-0 transition-all
}

.icon-visible:hover .icon-v {
    @apply opacity-100
}

.title {
    @apply font-['Poiret_One'] text-6xl text-center hover:animate-pulse transition-all
}

.title-big {
    @apply font-['Poiret_One'] text-8xl text-center hover:animate-pulse transition-all
}

.title-small {
    @apply font-['Poiret_One'] text-3xl text-center hover:animate-pulse transition-all
}

.title-p {
    @apply font-['Poiret_One'] text-2xl
}

.title-p-small {
    @apply font-['Poiret_One'] text-xl
}

.main-div {
    @apply flex flex-col h-screen bg-base-300
}

.scroll-content-div {
    @apply m-5 overflow-y-auto shadow-2xl shadow-neutral-950 border-b-3 border-t-3 border-info-content rounded-xl
}

.scroll-content-div-corner {
    @apply m-5 overflow-y-auto shadow-2xl shadow-neutral-950 border-l-3 border-t-3 border-info-content rounded-xl
}

.table-scale {
    @apply font-[roboto] w-full h-full border-separate border-spacing-y-2 p-5 pt-0
}
.td-scale {
    @apply text-sm text-left p-4 whitespace-nowrap;
    @apply border-t-2 border-t-transparent border-b-2 border-b-transparent;
}
.th-scale {
    @apply sticky text-lg top-0 bg-info-content text-left p-2 whitespace-nowrap z-10 min-w-[15rem];
    @apply border-2 border-transparent hover:bg-accent-content hover:border-accent transition-all;
}
.tr-scale {
    @apply bg-base-100 hover:border-2 border-accent hover:bg-accent-content transition-all duration-100 ease-in-out;
}

/* Alternate Colors */
.tr-scale:nth-child(even) {
    @apply bg-base-200 hover:bg-accent-content
}
.th-scale:nth-child(even) {
    @apply bg-[#002641] hover:bg-accent-content
}

/* Rounded Rows */
.td-scale:first-child {
    @apply border-t-2 border-t-transparent border-l-2 border-l-transparent pl-10;
    @apply rounded-tl-xl rounded-bl-xl;
}
.td-scale:last-child {
    @apply border-b-2 border-b-transparent border-r-2 border-r-transparent;
    @apply rounded-tr-xl rounded-br-xl;
}

/* Row Hover Border */
.tr-scale:hover .td-scale:first-child {
    @apply border-t-2 border-t-accent border-l-2 border-l-accent;
}
.tr-scale:hover .td-scale:last-child {
    @apply border-b-2 border-b-accent border-r-2 border-r-accent;
}
.tr-scale:hover .td-scale {
    @apply border-t-2 border-t-accent border-b-2 border-b-accent
}

/* Rounded Header-Row */
.th-scale:first-child {
    @apply rounded-tl-xl rounded-bl-xl pl-10;
}
.th-scale:last-child {
    @apply rounded-tr-xl rounded-br-xl;
}